.carousel-card{
  width: 100%;
  height: 200px;
  color: white;
  font-size: 32px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}




body{
  background: #04011C;
  font-family: 'Space Grotesk';
}
.linearGradient{
  display: inline-block;
  /* border: 1px saddlebrown dotted; */
  font-size: 120px;
font-weight: 700;
background: rgb(57,49,75);
background: linear-gradient(90deg, rgb(32, 24, 51) 10%, rgba(112,64,242,1) 51%, rgba(32,24,51) 91%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.logo{
  height: 36px;
  padding-left: 25px;
}

.navbar{
  padding-top: 30px;
}


#navbarNav{
  justify-content: center;
  padding-left: 50px;

}
.nav-item{
  padding: 10px;
  

  
}

.nav-link{
  padding: 5px;
  font-weight: 700;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: 17px;
}
.nav-link:hover{
  background-color: #2f2f46bf;
  transition: 1s;
  
}

.nav-search{
  padding-top: 20px;
  
}
.nav-search i{
  color: whitesmoke;
}
.nav-btn{
  margin-left: 20px;
  padding: 15px 35px;
  background-color: #363449;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 700;
 
}
.nav-btn:hover{
  background-color: whitesmoke;
  color: black;
  transition: 2s;
}
.navdv{
  display: inline-flex;
  padding-right: 30px;
}


/* section-1 */

.sec-1{
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  width:100%;
  /* background-color: aqua; */
  text-align: center;
  padding-top: 150px;
  
  

}

.sec-1 .heading1{
  /* background-color: red; */
  
  width: 90%;
  color: whitesmoke;
}
.sec-1 .heading1 h1{
  font-family: 'Space Grotesk';
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 700;
}
.buyimg{
  width: 133px;
  height: 106px;
  margin-left: 20px;

}
.line2{
  width: 100%;
}
.left{
  width:69%;
  /* background-color: chartreuse; */
  float: left;
}
.right{
  width:31%;
  /* background-color:deeppink; */
  float: left;
}



.heading2{
  text-align: left;
  font-size: 120px;
  font-weight: 900;
  font-family: 'Space Grotesk';
  -webkit-text-stroke-width: .1px;
  color: #FFFFFF00;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.para1{
  font-family: 'Space Grotesk';
  font-size: 18px;
  text-align: left;
  padding-top: 30px;
  font-weight:bold;
  line-height: 1.77em;

}

.line3{
  width:100%;
  /* background-color: darkred; */
  display: inline-block;
  padding-bottom: 30px;
}
.spring{
  width: 133px;
  height: 133px;
}

.explore{
  background-color:#7040F2 ;
  padding: 15px 35px;
  border-radius: 10px;
  color: whitesmoke;
  font-family: 'Space Grotesk';
  font-weight: 700;
 
  
}
.explore:hover{
  background-color: whitesmoke;
  color: black;
  transition: 2s;
}

.counter{
  padding-top:120px ;
}

.counter-col{
  padding-bottom: 60px;
  font-family: 'Space Grotesk';
}
.counter-col h2{
  font-size: 40px;
  color: #7040F2;

}

.divider{
  background-color: #363449;
  width:100%;
  height: 1px;
  
  margin-bottom: 120px;
}




/* section-2 */



.main{
  background-color: transparent;
  background-image: linear-gradient(-90deg, #7040F2 0%, #AE8FFF 100%);
  border-radius: 10px;
  padding: 100px 60px;
  color: whitesmoke;
  margin: 10px;
  
}
.start-heading {
  /* border-right: 2px solid white; */
  display: inline-block;
  padding-left: 15px;
}
.read{
  padding: 15px 35px;
  background-color: whitesmoke;
  color:black;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Space Grotesk';
  border: 0px;
  
}
.start-heading h1{
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 30px;
  
}
.start-heading h6{
  font-weight: 700;
}


.for-col-pad{
  /* float: right; */
  /* width:63%; */
  padding-bottom: 60px;
}

.sec-2-divider{
  width:80%;
  
  border-bottom:1px solid whitesmoke;
  padding: 10px;
  
}

.www .for-col-pad p{
  padding-top: 30px;
  /* padding-bottom: px; */
  /* padding-right: 30px; */
  font-size: 16px;
  font-weight: 700;
  padding-right: 20px;
}

.logo-images{
  /* background-color: red; */
  align-items:center;
  justify-content: center;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
  
  
}

.nav-search::marker {
  display: none !important;
}


.logo-img-1{
  width: 52px;
  height: 36px;
}
.logo-img-2{
  width: 104px;
  height: 30px;
}
.logo-img-3{
  width: 140px;
  height: 55px;
}
.logo-img-4{
  width: 132px;
  height: 52px;
}
.logo-img-5{
  width: 50px;
  height: 47px;
}
.logo-img-6{
  width: 87px;
  height: 30px;
}


.logo-img{
  opacity: 0.5;
}
.logo-img:hover{
  opacity: 1;
}

.sec-2-end{
  justify-content: center;
  display: flex;
}

.sec-2-end-divider{
  width:80%;
  padding-top: 60px;
  border-bottom: 1px solid #363449 ;

  margin-bottom: 30px;
}

/* section3 */

.sec-3{
   /* justify-content: center;
  align-items: center;
  display: flex;  */
  margin-bottom: 120px;
}


.front-heading{
  position: absolute;
}
.front-heading h1{
  font-size: 48px;
  padding-top: 70px;
  color: whitesmoke;
  font-weight: 700;
}
.bg-heading{
  position: absolute;
}
.bg-heading h1{
  display: inline-block;
  /* border: 1px saddlebrown dotted; */
font-size: 120px;
font-weight: 700;
background: rgb(57,49,75);
background: linear-gradient(90deg, rgb(18, 16, 22) 5%, rgba(112,64,242,1) 51%, rgba(18,16,22) 95%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.links{
  /* background: white; */
  /* width: 100%; */
  position: relative;
  height: 150px;
  text-align: center;
}



.lnks .col{
  /* background-color: purple; */
  justify-content: center;
  align-items: center;
  display: flex;
}
.lnks ul{
  display: flex;
  /* background-color: aquamarine; */
}

.lnks ul li {
  /* background-color: aqua; */
  list-style: none;
  padding: 20px;
}

.lnks ul li a{  
  text-decoration: none;
  color: #9085AB;
  font-size: 16px;
  font-weight: 700;
}

.mmm{
  width:250px;  
}

.card{
  /* width: auto;*/
  /* border: 2px solid white; */
  padding: 20px;
  margin: 0px; 
  height: auto;
  /* background-color: #160E2C; */
  background-color: transparent;
  position: relative;
 
}
.card-img{
  width: 250px;
  height: auto;
}
.details{
   padding: 15px; 
  /* background-color: red; */
   background-color: #160E2C; 
   width: 100%;

}

.fa-star{
  font-size: medium;
}
.checked{
  color: #FFC610;
  font-size: small;
}

.dv{
  /* background-color:pink; */
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
}
.dv h5{
  float: left;
  width: 85%;
  /* background: blue; */
  
  /* padding-left: 10px; */
  
}

.dv i{
  float: right;
  width: 7%;
  
}
.fa-diamond{
  padding-top: 5px;
  color: #AA3A69;
  font-size: small;

}
.dv span{
  color: whitesmoke;
  float: left;
}

.title-divider{
  width: 100%;
  height: 15px;
  border-bottom: 1px solid #9085AB;
  /* padding-left: 12px; */
  /* background: red; */
}


.fa.fa-heart{
  color: #9085AB;
  font-size: small;
  padding-top: 15px;
}
.first-title{
  color: whitesmoke;
  font-size: 18px;
  font-weight: 700;
}
.last-title{
  color: #9085AB;
  font-size: 12px;
  font-weight: 700;
  padding-top: 15px;
  letter-spacing: 1px;
}

.sec-3-btn{
  justify-content: center;
  display: flex;
  padding-top: 30px;
}
.overlay-btn{
  justify-content: center;
  display: flex;
  
}
.overlayBtn{
  background-color: #363449;
  color: whitesmoke;
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 2px;
}
.overlay{
  position: absolute;
  top: 55.5%;
  opacity: 0;
  transition: .5s ease;
}
.overlay .details{
  background-color: #7040F2;

}
.card:hover .overlay{
  opacity: 1;
  cursor: pointer;
}


/* sec-4 */

.sec-4{
  padding-top: 60px;
}
.browse-para{
  justify-content: center;
  display: flex;
}
.browse-para p{
  color: whitesmoke;

  font-size: 18px;
}
.collections{
  justify-content: center;
  display: flex;
  text-align: center;
  padding-top: 60px;
}
.collections .col h1{
  font-size: 80px;
  color: whitesmoke;
  font-weight:1000

}
.sec-4-browse-btn{
  margin-top: 30px;
}


/*section 5*/


.big-image{
  margin-top: 90px;
  background-image: url("https://wgl-demo.net/nico/wp-content/uploads/2022/04/faq-section-1.jpg");
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  /* flex-direction: column; */
}

.big-image .col-2{
  /* border: 2px solid white; */
  /* padding-left: -350px; */
  /* overflow-x:visible; */
  /* background-color: red; */
  
}
.first-big-img{
  margin-left: 60px;
  padding-top: 50px;
}
.second-big-img{
  margin-left: -120px;
  padding-top: 80px;
}
.third-big-img{
  padding-top: 150px;
}

.big-image .col-8{
  /* width: auto; */
  /* justify-content: center;
  display: flex; */
  /* padding-top: 30px; */
  /* border: 2px solid white; */
  /* justify-content: start;
  text-align: justify; */
  /* width: 100%; */
  background-image: url(./assets/home3-section-1-removebg-preview.png);
  background-size: 1440px;
  padding-top: 600px;
  background-position: center center;
  margin: 0;
  /* background-color: RED; */
}

.bari-image{
  width: 1440PX ;
  height: auto;
  border: 2px solid purple;
  
  /* margin-left: -100px; */
  
}

.firstimg{
display: inline-block;
background-color: red;
padding-left: 30%;
overflow: hidden;


}


/* sec-6 */



.sec-6{
 padding-top: 90px; 
}

.carousel-row{
  padding-top: 90px;
}

/*sec-7*/
.get-in-touch{
justify-content: center;
display: flex;
text-align: center;
padding-top: 60px;
padding-bottom: 30px;
}

.get{
  display: inline-block;
  font-size: 120px;
  color: whitesmoke;
  font-weight:1000;
  letter-spacing: 5px;
}
.touch{
  display: inline-block;
  font-size: 120px;
  -webkit-text-stroke-width: .6px;
  color: #FFFFFF00;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  letter-spacing: 5px;
}

#email{
  border: 0px;
  border-bottom: 2px solid #363449;
  background-color: transparent;
  height: 50px;
  width: 500px;
  font-size: 20px;
  color: whitesmoke;
}
#text2{
  border: 0px;
  border-bottom: 2px solid #363449;
  background-color: transparent;
  height: 50px;
  font-size: 20px;
  width: 30px;
  cursor: pointer;
  color: #5731bf;
  
}
#email:focus{
  outline-style: none;
  box-shadow: none;
}
#email::placeholder{
  color: whitesmoke;
}
#text2:hover{
  color: whitesmoke;
  transition: .3s ease;
}

.cont{
  justify-content: center;
display: flex;
text-align: center;
padding-top: 60px;
padding-bottom: 30px;
/* background-color: red; */
align-items: center;


}
.contactdv{
  background-color: #1E1B33;
  width: 150px;
  height: 150px;
  align-items: center;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  color: whitesmoke;
  
}

.contactdv h1{
  font-weight: 700;
font-size: 20px;
}

.contactdv:hover{
  background-color: whitesmoke;
  color: black;
  transition: .5s ease;
  cursor: pointer;
}
/* SEC-8 */

.footer{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background:linear-gradient(90deg, rgb(154, 137, 187) 5%, rgba(112,64,242,1) 51%, rgb(114, 70, 245,1) 95%);
}

.footer .col-lg-8{
  /* background-color: aqua; */
}
.footer .col-lg-8 h1{
  font-size: 120px;
  color:whitesmoke;
}


.icons-col{
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.fonticon{
  background-color: white;
  color: #7040F2;
  font-size: 25px;
  padding: 15px;
  border-radius: 50%;
}

.footer .col-3{
  /* background-color: yellow; */
  padding-top: 30px;
}
.iconsCol{
  padding-bottom: 20px;
}
.icons-details{
  color: whitesmoke;
}



.footer-nav{
  padding-top: 30px;
}
.footer-nav ul li{
  list-style: none;
}
.footer-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-nav-item{
  padding: 10px;
  padding-bottom: 25px;
  

  
}

.footer-nav-link{
  padding: 20px;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: 15px;
}
.footer-nav-link:hover{
  color: whitesmoke;
  text-decoration: underline;
}

.footer-divider{
  width:80%;
  
  border-bottom:1px solid  #ac92f3;
  padding-top: 10px;
  padding-bottom: 0;
}

.copyright{
  font-size: 16px;
  color: #C3C2D7;
 
}

.social{
  background-color: #A484FA;
  color: whitesmoke;
  padding: 10px;
  font-size: 14px;
  border-radius: 100%;
 margin: 5px;
 margin-top: 35px;
 margin-bottom: 90px;

}
.social:hover{
  background-color: whitesmoke;
  color: #6142b4;
  cursor: pointer;
}